<html>

<head>
  <title>Learning Node.js</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../css/style2.css">
</head>

<body class="body1">
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Learning Node.js Framework</a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/sitemap">Sitemap</a></li>
          <li><a href="/upload">Upload</a></li>
          <li><a href="/query">Query</a></li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron" style="padding:40px;">
      <h3>Home WebPage</h3>
      <div class="div1">Welcome to Node.js Framework</div>
      <div class="div2">Learning Express Module to Interact with HTTP requests..</div><br>
      <button>Make Changes</button>
    </div>
  </div>
  <script src="jquery-3.4.1.min.js"></script>
  <script>
    $(document).ready(function () {

    })        
  </script>
</body>

</html>